.software {
	margin-bottom: 50px;
	&__wrap {
	}
	&__inner {
		&_top-block {
			margin-bottom: 15px;
			padding: 25px 40px 117px;
			background: #fff;
			border-radius: 20px;
		}
		&_bottom-block {
			display: flex;
			gap: 13px;
		}
	}
	&__title {
		max-width: 825px;
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 40px;
		line-height: 90%;
		letter-spacing: -0.01em;
	}
}

@media (max-width: 1439.98px) {
	.software {
		&__title {
			max-width: 665px;
			font-size: 32px;
		}

		&__inner {
			&_bottom-block {
				flex-direction: column;
			}
		}
	}
}

@media (max-width: 1199.98px) {
	.software {
		margin-bottom: 70px;
		&__title {
			max-width: 600px;
		}
		&__inner {
			&_top-block {
				margin-bottom: 10px;
				padding: 20px 20px 60px;
				border-radius: 16px;
			}
			&_bottom-block {
				gap: 10px;
			}
		}
		&__title {
			line-height: 90%;
			/* or 29px */
			letter-spacing: -0.01em;
		}
	}
}

@media (max-width: 767.98px) {
	.software {
		&__title {
			max-width: 335px;
		}
		&__inner {
			&_top-block {
				padding: 10px 8px 50px;
				border-radius: 8px;
			}
		}
		&__title {
			font-size: 23px;
		}
	}
}
