.software {
	margin-bottom: 50px;
	&__wrap {
	}
	&__inner {
		&_top-block {
			margin-bottom: 15px;
			padding: 25px 40px 93px;
			background: #fff;
			border-radius: 20px;
		}
		&_bottom-block {
			display: flex;
			gap: 13px;
		}
	}
	&__title {
		max-width: 842px;
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 45px;
		line-height: 106%;
		/* or 48px */
	}

	.software-card {
		position: relative;
		overflow: hidden;
		flex: 0 1 33%;

		padding: 26px 40px 40px;

		background: #fff;
		border-radius: 20px;

		&__number {
		}
		&__title {
			padding-left: 130px;
			font-family: "Montserrat";
			font-style: normal;
			font-weight: 600;
			font-size: 28px;
			line-height: 106%;
			/* or 30px */

			text-transform: lowercase;
		}

		&__image {
			margin: 0 auto;
			object-fit: contain;
		}
		&__product-links {
			margin-left: 36px;
			display: flex;
			flex-direction: column;
			gap: 10px;
		}
		&__product-link {
			gap: 15px;
		}
		&__product-link-logo {
		}
		&__list {
			width: 100%;
			margin-top: 30px;
			li {
				position: relative;
				margin-bottom: 20px;
				padding-left: 36px;
				padding-right: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				font-size: 18px;
				line-height: 100%;
				/* or 18px */

				&::before {
					position: absolute;
					content: "";
					width: 16px;
					height: 16px;
					top: 3px;
					left: 0;
					background: url("~/public/icons/software-li.png") 0 0 no-repeat;
				}
			}
		}

		&:nth-child(1) {
			.software-card {
				&__image {
					margin-top: 97px;
					height: 205px;
				}
				&__product-links {
					margin-top: 75px;
				}
			}
		}
		&:nth-child(2) {
			.software-card {
				&__image {
					margin-top: 66px;
					height: 250px;
				}
				&__product-links {
					margin-top: 24px;
				}
			}
		}
		&:nth-child(3) {
			.software-card {
				&__image {
					margin-top: 99px;
					height: 180px;
				}
				&__product-links {
					margin-top: 97px;
				}
			}
		}
	}
}

@media (max-width: 1439.98px) {
	.software {
		&__title {
			max-width: 650px;
			font-size: 32px;
		}

		&__inner {
			&_bottom-block {
				flex-direction: column;
			}
		}

		.software-card {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			&__title {
				order: -2;
				flex: 0 0 auto;
				width: 55%;
			}
			&__product-links {
				order: -1;
				flex: 0 0 auto;
				margin: 0;
			}
			&__image {
				flex: 0 0 auto;
				width: 100%;
			}
			&__list {
				display: flex;
				flex-wrap: wrap;
				flex-direction: column;
				max-height: 150px;
				li {
					flex: 0 0 auto;
					width: 50%;
				}
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				.software-card {
					&__product-links {
						margin-top: 8px;
					}
				}
			}
			&:nth-child(1) {
				.software-card {
					&__image {
						margin-top: 57px;
						height: calc(247px * 1.3);
					}
					&__list {
						margin-top: 59px;
					}
				}
			}
			&:nth-child(2) {
				.software-card {
					&__image {
						margin-top: 66px;
						height: calc(249px * 1.3);
					}
					&__list {
						margin-top: 67px;
					}
				}
			}
			&:nth-child(3) {
				.software-card {
					&__image {
						margin-top: 69px;
						height: calc(225px * 1.3);
					}
					&__list {
						margin-top: 67px;
					}
				}
			}
		}
	}
}

@media (max-width: 1199.98px) {
	.software {
		&__inner {
			&_top-block {
				margin-bottom: 10px;
				padding: 20px 20px 60px;
				border-radius: 16px;
			}
		}
		&__title {
			line-height: 90%;
			/* or 29px */
			letter-spacing: -0.01em;
		}
		.software-card {
			padding: 14px 20px 30px;
			border-radius: 16px;

			&__title {
				font-size: 25px;
				padding-left: 100px;
			}
			&__list {
				max-height: 185px;
			}

			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				.software-card {
					&__product-links {
						margin-top: 6px;
					}
				}
			}

			&:nth-child(2) {
				.product-link {
					gap: 8px;
					&__logo {
						width: 42px;
						height: 24px;
					}
					p {
						padding-right: 25px;
						font-size: 16px;
						&::after {
							width: 11px;
							height: 11px;
							bottom: calc(50% - 5.5px);
							right: 5px;
						}
					}
				}
			}

			&:nth-child(1) {
				.software-card {
					&__image {
						height: 247px;
					}
				}
			}
			&:nth-child(2) {
				.software-card {
					&__image {
						height: 249px;
					}
				}
			}
			&:nth-child(3) {
				.software-card {
					&__image {
						height: 225px;
					}
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	.software {
		&__inner {
			&_top-block {
				padding: 10px 8px 50px;
				border-radius: 8px;
			}
		}
		&__title {
			font-size: 23px;
		}
		.software-card {
			padding: 10px 10px 30px;
			border-radius: 8px;

			&__title {
				margin-bottom: 20px;
				font-size: 20px;
				padding-left: 62px;
				width: 100%;
			}
			&__product-links {
				padding-left: 62px;
			}
			&__list {
				max-height: none;
				flex-direction: row;
				li {
					margin-bottom: 15px;
					width: 100%;
				}
			}

			&:nth-child(2) {
				.product-link {
					gap: 15px;
					&__logo {
						width: 49px;
						height: 28px;
					}
					p {
						padding-right: 30px;
						font-size: 20px;
						overflow: hidden;
						max-width: 86px;
						&::after {
							width: 22px;
							height: 16px;
							bottom: calc(50% - 8px);
							right: 0px;
							background: url("~/public/svg/icons/arrow-left.svg") right / contain no-repeat, #fff;
						}
					}
				}
			}

			&:nth-child(1) {
				.software-card {
					&__image {
						margin-top: 60px;
						height: 215px;
					}
				}
			}
			&:nth-child(2) {
				.software-card {
					&__image {
						margin-top: 40px;
					}
					&__product-link {
						&:not(:first-child) {
							display: none;
						}
					}
				}
			}
			&:nth-child(3) {
				.software-card {
					&__image {
						margin-top: 55px;
					}
				}
			}
		}
	}
}

@media (max-width: 374.98px) {
	.software {
		.software-card {
			&:nth-child(3) {
				.product-link {
					p {
						padding-right: 30px;
						overflow: hidden;
						max-width: 108px;
						&::after {
							width: 22px;
							right: 0px;
							background: url("~/public/svg/icons/arrow-left.svg") right / contain no-repeat, #fff;
						}
					}
				}
			}
		}
	}
}
