.form-block {
	&__title {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 20px;
		line-height: 106%;
		/* or 21px */
		text-transform: lowercase;
		/* Gray-Scale / Secondary */
		color: #6a6b74;
	}

	&__input {
		position: relative;
		overflow: hidden;
		width: 100%;

		display: flex;
		align-items: center;

		/* Gray-Scale / Quaternary */
		border: 1px solid #bdbec1;
		border-radius: 10px;
	}
	&__input-email {
		flex: 1;
		padding: 13px 20px;
		font-size: 18px;
		line-height: 120%;
		/* or 22px */
		&::placeholder {
			font-weight: 500;
			font-size: 17px;
			line-height: 106%;
			/* identical to box height, or 18px */
			font-variant: small-caps;
			/* Gray-Scale / Quaternary */
			color: #bdbec1;
		}
	}
	&__input-btn {
		margin-right: 10px;
		display: flex;
		align-items: center;
		gap: 12px;

		font-weight: 500;
		font-size: 15px;
		line-height: 99%;
		text-align: left;
		font-variant: all-small-caps;
		/* Gray-Scale / Secondary */
		color: #6a6b74;
		background: transparent;

		.arrow-circle {
			fill: #6a6b74;
			width: 30px;
			height: 30px;
		}
	}
	&__attention {
		font-size: 12px;
		line-height: 14px;
		text-transform: lowercase;
		color: #6a6b74;

		strong {
			font-weight: 400;
			color: rgba(25, 122, 207, 1);
		}
	}
}

@media (max-width: 767.98px) {
	.form-block {
		&__title {
			font-size: 16px;
			line-height: 106%;
			/* identical to box height, or 17px */
			text-transform: lowercase;
		}
		&__input-email {
			padding: 9px 10px;
		}
		&__input-btn {
			p {
				display: none;
			}
		}
	}
}
