.header {
	z-index: 100;
	position: sticky;
	top: 0;

	padding-top: 24px;
	padding-bottom: 15px;

	background: var(--bs-body-bg);

	&__inner {
		display: flex;
		gap: 11px;
	}
	&__navbar {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0 40px;
		background: $white;
		border-radius: 10px;

		ul {
			display: flex;
			gap: 80px;
		}
		li {
			position: relative;

			display: flex;
			align-items: center;
			gap: 9.5px;
			.arrow-down {
				width: 15px;
				height: 19px;
				fill: #393838;
				transition: margin 0.5s ease-in-out;
			}
		}
		a {
			font-family: "Roboto";
			font-weight: 500;
			font-size: 20px;
			line-height: 95%;
			/* identical to box height, or 19px */

			text-transform: lowercase;

			cursor: pointer;

			text-decoration-color: #b3b3b3;
			transition: text-decoration 0.5s ease-in-out, color 0.5s ease-in-out;

			&:hover {
				text-decoration: underline #c7c7c7;
				color: #444444;
				& ~ .arrow-down {
					margin-bottom: -10px;
				}
			}
		}
		a.active {
			color: #000;
		}
	}
	&__site-logo {
		margin: 12px 0;
		cursor: pointer;
	}
	&__tel {
		flex: 0 1 auto;

		border-radius: 10px;

		a {
			padding: 20px 60px;
			font-weight: 500;
			font-variant: all-small-caps;
			font-size: 17px;
			line-height: 106%;
			text-align: center;
			color: #fff;
		}
	}
}

// @media (min-width: 1921px) {
// 	.header {
// 		&__inner {
// 			margin-top: 1.25vmax;
// 			margin-bottom: 0.8vmax;
// 			gap: 0.6vmax;
// 		}
// 		&__navbar {
// 			padding: 0 2vmax;
// 			border-radius: 0.5vmax;
// 			ul {
// 				gap: 4.15vmax;
// 			}
// 			li {
// 				padding-right: 1.4vmax;
// 				font-size: 1.04vmax;
// 				&::after {
// 					right: 0.1vmax;
// 					width: 0.8vmax;
// 					height: 1.03vmax;
// 				}
// 			}
// 		}
// 		&__site-logo {
// 			margin: 0.6vmax 0;
// 			img {
// 				height: 1.9vmax;
// 			}
// 		}
// 		&__tel {
// 			padding: 1.04vmax 3.1vmax;
// 			font-size: 0.9vmax;
// 			border-radius: 0.5vmax;
// 		}
// 	}
// }
@media (max-width: 1199.98px) {
	.header {
		padding-top: 15px;
		padding-bottom: 10px;
		// &__inner {
		// }
		&__navbar {
			padding: 0 20px;
			border-radius: 8px;
			ul {
				display: none;
			}
		}
		&__site-logo {
			margin: 7px 0;
			img {
				height: 26px;
			}
		}
		&__tel {
			border-radius: 8px;
			a {
				padding: 10px 30px;
			}
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		padding-top: 10px;
		padding-bottom: 10px;
		&__navbar {
			flex: 0 1 auto;
			border-radius: 6px;
			padding: 0 10px;
		}

		&__tel {
			flex: 1 1 auto;
			justify-content: center;
			border-radius: 6px;
		}
	}
}
@media (max-width: 374.98px) {
	.header {
		&__tel {
			a {
				padding: 10px 10px;
				font-size: 15px;
			}
		}
	}
}
