.news {
	margin-bottom: 50px;
	&__wrap {
		display: flex;
		flex-wrap: wrap;
	}

	.title-block {
		flex: 0 0 auto;
		margin-right: 16px;
		margin-bottom: 15px;
		width: calc(50% - 8px);

		padding: 25px 37px 76px;

		background: #fff;
		border-radius: 20px;

		&__title {
			margin-bottom: 15px;
			font-family: "Montserrat";
			font-weight: 600;
			font-size: 40px;
			line-height: 90%;
			/* identical to box height, or 36px */

			letter-spacing: -0.01em;
		}
		&__subtitle {
			max-width: 345px;
			font-size: 18px;
			line-height: 120%;
			/* or 22px */

			/* Gray-Scale / Secondary */
			color: #6a6b74;
		}
	}

	.form-block {
		flex: 0 0 auto;
		margin-bottom: 15px;
		width: calc(50% - 8px);
		padding: 32px 40px 39px;

		background: #fff;
		border-radius: 20px;

		&__title {
			margin-bottom: 14px;
		}

		&__input {
			margin-bottom: 12px;
		}
	}

	.articles-block {
		flex: 0 0 100%;
		display: flex;
		gap: 16px;
	}
}

@media (max-width: 1199.98px) {
	.news {
		margin-bottom: 70px;
		.title-block,
		.form-block {
			margin-bottom: 10px;
			width: 100%;
			border-radius: 16px;
		}
		.title-block {
			padding: 20px 20px 55px;

			&__title {
				margin-bottom: 10px;
				font-size: 32px;
				line-height: 90%;
				/* identical to box height, or 29px */
				letter-spacing: -0.01em;
			}
			&__subtitle {
				font-weight: 400;
			}
		}
		.form-block {
			padding: 32px 20px 41px;
		}
		.articles-block {
			flex-wrap: wrap;
			gap: 10px;
		}
	}
}

@media (max-width: 767.98px) {
	.news {
		.title-block {
			margin: 0;
			padding: 13px 10px 100px;
			border-radius: 8px 8px 0 0;
			&__title {
				font-size: 23px;
			}
		}
		.form-block {
			padding: 50px 10px 20px;
			border-radius: 0 0 8px 8px;

			&__title {
				margin-bottom: 10px;
			}
		}
	}
}
