.software-card {
	position: relative;
	overflow: hidden;
	flex: 0 1 33%;

	display: flex;
	flex-direction: column;
	padding: 26px 40px 40px;

	background: #fff;
	border-radius: 20px;

	&__number {
	}
	&__title {
		max-width: 560px;
		padding-left: 96px;
		font-family: "Montserrat";
		font-style: normal;
		font-weight: 600;
		font-size: 28px;
		line-height: 106%;
		/* or 30px */

		text-transform: lowercase;
	}

	&__image {
		flex: 1 1 auto;
		img {
			margin: 0 auto;
			margin-bottom: 22px;
			object-fit: contain;
		}
	}
	&__product-links {
		margin-left: 36px;
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	&__product-link-logo {
	}
	&__list {
		min-height: 245px;
		width: 100%;
		margin-top: 30px;
		li {
			position: relative;
			margin-bottom: 20px;
			padding-left: 36px;
			padding-right: 20px;
			&:last-child {
				margin-bottom: 0;
			}
			font-size: 18px;
			line-height: 120%;

			&::before {
				position: absolute;
				content: "";
				width: 16px;
				height: 16px;
				top: 3px;
				left: 0;
				background: url("~/public/icons/software-li.png") 0 0 no-repeat;
			}
		}
	}

	&:nth-child(1) {
		.software-card {
			&__image {
				img {
					margin-top: 97px;
					height: 205px;
				}
			}
		}
	}
	&:nth-child(2) {
		.software-card {
			&__image {
				img {
					margin-top: 66px;
					height: 250px;
				}
			}
		}
	}
	&:nth-child(3) {
		.software-card {
			&__image {
				img {
					margin-top: 99px;
					height: 180px;
				}
			}
		}
	}
}

@media (max-width: 1439.98px) {
	.software-card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		&__title {
			order: -2;
			flex: 0 0 auto;
			width: 55%;
		}

		&__product-links {
			order: -1;
			flex: 0 0 auto;
			margin: 0;
		}
		&__image {
			flex: 0 0 auto;
			width: 100%;
		}
		&__list {
			display: flex;
			flex-wrap: wrap;
			flex-direction: column;
			max-height: 170px;
			min-height: auto;
			li {
				flex: 0 0 auto;
				width: 50%;
			}
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			.software-card {
				&__product-links {
					margin-top: 8px;
				}
			}
		}
		&:nth-child(1) {
			.software-card {
				&__image {
					img {
						margin-top: 57px;
						height: calc(247px * 1.3);
					}
				}
				&__list {
					margin-top: 59px;
				}
			}
		}
		&:nth-child(2) {
			.software-card {
				&__image {
					img {
						margin-top: 66px;
						height: calc(249px * 1.3);
					}
				}
				&__list {
					margin-top: 67px;
				}
			}
		}
		&:nth-child(3) {
			.software-card {
				&__image {
					img {
						margin-top: 69px;
						height: calc(225px * 1.3);
					}
				}
				&__list {
					margin-top: 67px;
				}
			}
		}
	}
}

@media (max-width: 1199.98px) {
	.software-card {
		padding: 14px 20px 30px;
		border-radius: 16px;

		&__title {
			max-width: 370px;
			font-size: 25px;
			padding-left: 80px;
		}
		&__list {
			max-height: 240px;
		}

		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			.software-card {
				&__product-links {
					margin-top: 6px;
				}
			}
		}

		&:nth-child(1) {
			.software-card {
				&__image {
					img {
						height: 247px;
					}
				}
			}
		}
		&:nth-child(2) {
			.software-card {
				&__image {
					img {
						height: 249px;
					}
				}
			}
		}
		&:nth-child(3) {
			.software-card {
				&__image {
					img {
						height: 225px;
					}
				}
			}
		}
	}
}

@media (max-width: 767.98px) {
	.software-card {
		padding: 10px 10px 30px;
		border-radius: 8px;
		flex-direction: column;

		&__title {
			margin-bottom: 20px;
			font-size: 20px;
			padding-left: 52px;
			width: 100%;
			max-width: 300px;
		}
		&__product-links {
			padding-left: 52px;
		}
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3) {
			.software-card {
				&__product-links {
					margin-top: 0;
				}
			}
		}
		&__list {
			max-height: none;
			flex-direction: row;
			li {
				margin-bottom: 15px;
				width: 100%;
				line-height: 106%;
			}
		}

		&:nth-child(1) {
			.software-card {
				&__image {
					img {
						margin-top: 60px;
						height: 215px;
					}
				}
			}
		}
		&:nth-child(2) {
			.software-card {
				&__image {
					img {
						margin-top: 40px;
					}
				}
			}
		}
		&:nth-child(3) {
			.software-card {
				&__image {
					img {
						margin-top: 55px;
					}
				}
			}
		}
	}
}
