.hero-page {
	margin-bottom: 50px;
	&__inner {
		&_top-block {
			margin-bottom: 15px;
			padding: 23px 40px;
			background: $white;
			border-radius: 20px;
		}
		&_bottom-block {
			position: relative;
			overflow: hidden;

			.slide-block {
				display: flex;
				gap: 17px;
				transition: transform 0.5s ease-in-out;

				&::after,
				&::before {
					z-index: 5;
					position: absolute;
					content: "";
					top: 0;
					height: 100%;
					width: 4%;
					transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
				}
				&::before {
					opacity: 0;
					left: 0;
					background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #f1f1f1);
				}
				&::after {
					right: 0;
					background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #f1f1f1);
				}
			}
			.slide-active {
				transform: translateX(-11%);
				&::before {
					opacity: 1;
					transform: translateX(275%);
				}
				&::after {
					opacity: 0;
					transform: translateX(300%);
				}
			}
		}
	}

	&__title-block {
		display: flex;
		justify-content: space-between;
	}
	&__title {
		font-family: "Montserrat";
		font-weight: 600;
		font-size: 55px;
		line-height: 100%;
		/* or 55px */

		letter-spacing: -0.01em;
	}
	&__subtitle {
		margin-top: 14px;
		max-width: 152px;

		font-weight: 500;
		font-size: 16px;
		line-height: 100%;
		/* or 16px */
		text-align: right;
		text-transform: uppercase;
		font-variant: all-small-caps;

		/* Gray-Scale / Tetriary */
		color: #8a8b94;
	}

	&__product-links {
		margin-top: 86px;

		display: flex;
		flex-wrap: wrap;
		gap: 15px;
	}

	&__product-link {
		margin-right: 40px;
		&:last-child {
			margin: 0;
		}
		padding-right: 3px;
	}

	&__advantages {
	}
	&__clients {
	}
	&__box-number {
	}

	.advantages {
		position: relative;
		order: 1;
		flex: 0 0 75%;
		padding: 26px 40px 30px;
		background: #fff;
		overflow: hidden;

		border-radius: 20px;
		transition: flex 0.5s ease-in-out;
		&__title {
			z-index: 2;
			position: relative;
			margin-left: 100px;

			h3 {
				margin-bottom: 22px;
				min-height: 30px;

				font-family: "Montserrat";
				font-weight: 600;
				font-size: 28px;
				line-height: 106%;
				/* identical to box height, or 30px */

				text-transform: lowercase;

				transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
			}
			a {
				position: relative;

				font-weight: 500;
				font-size: 16px;
				line-height: 92%;
				/* identical to box height, or 15px */

				font-variant: all-small-caps;

				/* Brand/Blue-Primary-Light */

				color: #197acf;
				svg {
					margin-right: 13px;
				}
				&:hover {
					text-decoration: underline;
				}
			}
		}

		&__content {
			z-index: 2;
			position: relative;
			max-width: 560px;
			margin-top: 217px;
		}
		&__content-title {
			margin-bottom: 39px;
			font-weight: 500;
			font-size: 16px;
			line-height: 100%;
			/* identical to box height, or 16px */

			font-variant: all-small-caps;
			text-transform: uppercase;

			/* Gray-Scale / Tetriary */

			color: #8a8b94;
		}

		&__drop-down-list {
			display: flex;
			flex-wrap: wrap;
			gap: 20px;
		}
		&__list-item {
			flex: 0 0 auto;
			width: 100%;
			position: relative;
			padding-top: 8px;

			&::after {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 14px;
				content: "";
				background: url("~/public/images/hero-page/ddown-line.svg") 0 0 / 100% no-repeat;
			}

			&.active {
				.advantages {
					&__list-title {
						.plus {
							opacity: 0;
						}
					}
				}
			}
		}
		&__list-title {
			position: relative;
			padding: 0 11px 0 27px;

			display: flex;
			align-items: center;
			justify-content: space-between;

			font-weight: 500;
			font-size: 18px;
			line-height: 110%;
			/* identical to box height, or 20px */

			text-transform: lowercase;
			font-variant: all-small-caps;
			cursor: pointer;

			transition: color 0.5s ease-in-out;

			span {
				position: absolute;
				top: 0;
				left: 0;

				font-family: "Montserrat";
				font-weight: 700;
				font-size: 8px;
				line-height: 110%;
				/* identical to box height, or 9px */

				text-transform: uppercase;
			}
			p {
				padding-right: 15px;
			}
			svg {
				flex: 0 0 auto;
				width: 16px;
				height: 16px;
				fill: #393838;
				transition: fill 0.5s ease-in-out;
			}
			path {
				transition: opacity 0.5s ease-in-out;
			}
			&:hover {
				color: #197acf;
				svg {
					fill: #197acf;
				}
			}
		}
		&__list-text {
			overflow: hidden;
			transition: height 0.5s ease-in-out;
		}

		&__decor {
			// display: none;
			z-index: 1;
			position: absolute;
			top: calc(50% - ((100% - 56px) / 2));
			right: 0;
			height: calc(100% - 56px);
			margin-right: 65px;

			display: flex;
			align-items: flex-end;
			img {
				height: 95%;
				object-fit: contain;
			}
		}
		&::after {
			opacity: 0;
			position: absolute;
			content: "";
			background: url("~/public/images/hero-page/bg-advantages.png") 0 0 / 100% 100% no-repeat;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 100%;
			border-radius: 0 0 20px 20px;
			transition: opacity 0.5s ease-in-out;
		}
		&:hover {
			&::after {
				opacity: 1;
			}
		}
	}

	.clients {
		position: relative;
		order: 2;
		flex: 0 0 35%;
		overflow: hidden;

		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 26px 40px 30px;
		background: #fff;
		min-height: 100%;
		width: 100%;
		border-radius: 20px;

		&::after {
			z-index: 1;
			position: absolute;
			content: "";
			background: url("~/public/images/hero-page/bg-clients.png") 0 0 / 100% 100% no-repeat;
			bottom: 0;
			right: 0;
			width: 100%;
			height: 88%;
			border-radius: 0 0 20px 20px;
		}
		&::before {
			z-index: 0;
			opacity: 0;
			position: absolute;
			content: "";
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 20px;
			background: linear-gradient(244deg, #00c8ff 0%, #197acf 45%, #197acf 50%, #00c8ff 100%);
			transition: opacity 0.5s ease-in-out;
		}

		&:hover {
			&::before {
				opacity: 1;
			}
			.clients {
				&__title {
					margin-top: 0px;
					h3 {
						font-size: 30px;

						color: #fff;
					}
					p {
						color: #fff;
					}
				}
				&__link {
					svg {
						fill: #fff;
						transform: rotate(90deg);
					}
					p {
						color: #fff;
					}
				}
			}

			& ~ .advantages {
				// flex: 0 1 82.5%;
				[class*="__title"] {
					h3 {
						font-size: 20px;
						color: #6a6b74;
					}
				}
			}
		}

		&__title {
			margin-top: 10px;
			z-index: 2;
			position: relative;
			margin-left: 102px;

			transition: margin-top 0.5s ease-in-out;

			h3 {
				font-family: "Montserrat";
				font-weight: 600;
				font-size: 20px;
				line-height: 106%;
				/* or 21px */

				text-transform: lowercase;

				color: #6a6b74;

				transition: color 0.5s ease-in-out, font-size 0.5s ease-in-out, line-height 0.5s ease-in-out;
			}

			p {
				margin-top: 82px;
				font-weight: 400;
				font-size: 18px;
				line-height: 120%;

				text-transform: lowercase;

				color: #cacaca;

				transition: color 0.5s ease-in-out;
			}
		}

		&__link {
			position: relative;
			z-index: 2;

			display: flex;
			align-items: center;

			cursor: pointer;

			.arrow-circle {
				flex: 0 0 auto;
				margin-right: 70px;
				width: 32px;
				height: 32px;
				fill: #6a6b74;

				transition: fill 0.5s ease-in-out, transform 0.5s ease-in-out;
			}
			.arrow-down {
				display: none;
			}

			p {
				text-transform: lowercase;
				color: #6a6b74;
				transition: color 0.5s ease-in-out;
			}
			&:hover {
				p {
					text-decoration: underline;
				}
			}
		}
	}
}

@media (max-width: 1439.98px) {
	.hero-page {
		&__inner {
			&_bottom-block {
				.slide-active {
					transform: translateX(-11.5%);
				}
			}
		}
		&__product-link {
			flex: 0 0 auto;
			width: calc(50% - 7.5px);
			margin-right: 0;
		}
		&__title {
			font-size: 40px;
			line-height: 90%;
			/* or 36px */
		}
		&__subtitle {
			margin-top: 15px;
		}

		.advantages {
			flex: 0 0 73%;
			&__decor {
				margin-top: 60px;
				position: relative;
				margin-top: 80px;
				margin-right: 0;
				height: 300px;
				img {
					margin: 0 auto;
				}
			}
			&__content {
				margin-top: 60px;
				max-width: none;
			}
			&__list-item {
				width: calc(50% - 20px);
				&:nth-child(1) {
					order: 1;
					margin-right: 10px;
				}
				&:nth-child(2) {
					order: 3;
					margin-right: 10px;
				}
				&:nth-child(3) {
					order: 5;
					margin-right: 10px;
				}
				&:nth-child(4) {
					order: 2;
					margin-left: 10px;
				}
				&:nth-child(5) {
					order: 4;
					margin-left: 10px;
				}
				&:nth-child(6) {
					order: 6;
					margin-left: 10px;
				}
			}
		}
		.clients {
			flex: 0 0 37%;
		}
	}
}
@media (max-width: 1199.98px) {
	.hero-page {
		margin-bottom: 70px;
		&__inner {
			&_top-block {
				border-radius: 16px;
				margin-bottom: 10px;
				padding: 20px 17px 18px;
			}
			&_bottom-block {
				.slide-block {
					flex-wrap: wrap;
					gap: 10px;

					&::after,
					&::before {
						display: none;
					}
				}
				.slide-active {
					transform: none;
				}
			}
		}
		&__title-block {
			display: block;
		}
		&__subtitle {
			max-width: fit-content;
			margin-top: 13px;
		}
		&__product-links {
			margin-top: 81px;
		}

		.advantages,
		.clients {
			flex: 1 1 auto;
			padding: 11px 23px 23px;
			border-radius: 16px;
			&__title {
				margin-left: 80px;

				h3 {
					font-size: 26px;
					color: #393838;
				}
			}
		}
		.advantages {
			&::after {
				opacity: 1;
				border-radius: 0 0 16px 16px;
			}
			&__title {
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				h3 {
					margin-bottom: 0;
					min-height: auto;
				}
				a {
					margin-top: 7px;
				}
			}
			&__decor {
				margin-top: 80px;
			}
			&__content {
				margin-top: 90px;
			}
			&__content-title {
				margin-bottom: 37px;
			}
			&__drop-down-list {
				gap: 10px;
			}
			&__list-item {
				padding-top: 6px;
				width: calc(50% - 10px);
				&:nth-child(1) {
					order: 1;
					margin-right: 5px;
				}
				&:nth-child(2) {
					order: 3;
					margin-right: 5px;
				}
				&:nth-child(3) {
					order: 5;
					margin-right: 5px;
				}
				&:nth-child(4) {
					order: 2;
					margin-left: 5px;
				}
				&:nth-child(5) {
					order: 4;
					margin-left: 5px;
				}
				&:nth-child(6) {
					order: 6;
					margin-left: 5px;
				}
			}
			&__list-title {
				padding: 0 11px 0 16px;
			}
		}
		.clients {
			&__title {
				margin-top: 0;
				h3 {
					font-size: 26px;

					color: #393838;
				}
				p {
					margin-top: 42px;
					color: #393838;
				}
			}
			&__link {
				position: relative;
				margin-top: 157px;
				margin-bottom: 9px;
				margin-left: 2px;
				gap: 65px;
				.arrow-circle {
					display: none;
				}
				.arrow-down {
					margin-left: 5px;
					display: block;
					width: 13px;
					height: 13px;
					path {
						fill: #197acf;
					}
				}
				p {
					color: #197acf;
				}
			}
			&::before,
			&::after {
				display: none;
			}
			&:hover {
				.clients {
					&__title {
						margin-top: 0;
						h3 {
							font-size: 26px;

							color: #393838;
						}
						p {
							color: #393838;
						}
					}
					&__link {
						p {
							color: #197acf;
						}
						svg {
							fill: inherit;
							transform: none;
						}
					}
				}

				& ~ .advantages {
					flex: 1 1 auto;
					[class*="__title"] {
						h3 {
							font-size: 26px;
							color: #393838;
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767.98px) {
	.hero-page {
		&__inner {
			&_top-block {
				border-radius: 8px;
				padding: 11px 10px 16px;
			}
		}
		&__title {
			max-width: 405px;
			font-size: 27px;
			line-height: 100%;
			/* or 27px */
		}
		&__subtitle {
			margin-top: 15px;
			font-size: 15px;
			line-height: 92%;
		}
		&__product-links {
			display: flex;
			flex-direction: column;
		}
		&__product-link {
			width: 100%;
		}
		.advantages,
		.clients {
			padding: 10px 10px 25px;
			border-radius: 8px;

			&__title {
				margin-left: 52px;
				h3 {
					font-size: 20px;
				}
			}
		}
		.advantages {
			&::after {
				border-radius: 0 0 8px 8px;
				height: 50%;
			}
			&__title {
				display: block;
				h3 {
					margin-bottom: 14px;
				}
				a svg {
					margin-right: 11px;
				}
			}
			&__decor {
				margin-top: 75px;
				height: 286px;
			}
			&__content {
				margin-top: 56px;
			}
			&__content-title {
				margin-bottom: 35px;
			}
			&__drop-down-list {
				display: block;
			}
			&__list-item {
				width: 100%;
				margin-bottom: 20px;
				&:last-child {
					margin-bottom: 0;
				}
				&:nth-child(1) {
					margin-right: 0;
				}
				&:nth-child(2) {
					margin-right: 0;
				}
				&:nth-child(3) {
					margin-right: 0;
				}
				&:nth-child(4) {
					margin-left: 0;
				}
				&:nth-child(5) {
					margin-left: 0;
				}
				&:nth-child(6) {
					margin-left: 0;
				}
			}
		}
		.clients {
			&__title {
				margin-top: 0;
				p {
					margin-top: 46px;
				}
			}
			&__link {
				margin-top: 200px;
				margin-left: 7px;
				gap: 31px;
				.arrow-down {
					margin-left: 8px;
				}
			}
			&:hover {
				.clients {
					&__title {
						margin-top: 0;
						h3 {
							font-size: 20px;
						}
					}
				}
				& ~ .advantages {
					[class*="__title"] {
						h3 {
							font-size: 20px;
						}
					}
				}
			}
		}
	}
}
