.header {
	&__inner {
		margin-top: 24px;
		margin-bottom: 15px;

		display: flex;
		gap: 11px;
	}
	&__navbar {
		flex: 1 1 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;

		padding: 0 40px;
		background: $white;
		border-radius: 10px;

		ul {
			display: flex;
			gap: 80px;
		}
		li {
			position: relative;
			padding-right: 27px;
			font-family: "Roboto";
			font-weight: 500;
			font-size: 20px;
			line-height: 95%;
			/* identical to box height, or 19px */

			text-transform: lowercase;

			&::after {
				position: absolute;
				content: "";
				background: url("~/public/svg/icons/arrow-down.svg") 0 center / contain no-repeat;
				top: 0;
				right: 2.5px;
				width: 15px;
				height: 19px;
			}
		}
	}
	&__site-logo {
		margin: 12px 0;
	}
	&__tel {
		flex: 0 1 auto;

		padding: 20px 60px;
		display: flex;
		align-items: center;

		font-weight: 500;
		font-variant: small-caps;
		font-size: 17px;
		line-height: 106%;
		text-align: center;
		color: #fff;

		background: linear-gradient(
			50.48deg,
			#30b3ed -33.78%,
			#299ee2 6.62%,
			#258bd7 47.26%,
			#44a1e0 79.73%,
			#51a8e3 111.74%
		);
		border-radius: 10px;

		&:hover {
			background: linear-gradient(
				65deg,
				#30b3ed -33.78%,
				#299ee2 6.62%,
				#258bd7 47.26%,
				#44a1e0 79.73%,
				#51a8e3 111.74%
			);
		}
	}
}

// @media (min-width: 1921px) {
// 	.header {
// 		&__inner {
// 			margin-top: 1.25vmax;
// 			margin-bottom: 0.8vmax;
// 			gap: 0.6vmax;
// 		}
// 		&__navbar {
// 			padding: 0 2vmax;
// 			border-radius: 0.5vmax;
// 			ul {
// 				gap: 4.15vmax;
// 			}
// 			li {
// 				padding-right: 1.4vmax;
// 				font-size: 1.04vmax;
// 				&::after {
// 					right: 0.1vmax;
// 					width: 0.8vmax;
// 					height: 1.03vmax;
// 				}
// 			}
// 		}
// 		&__site-logo {
// 			margin: 0.6vmax 0;
// 			img {
// 				height: 1.9vmax;
// 			}
// 		}
// 		&__tel {
// 			padding: 1.04vmax 3.1vmax;
// 			font-size: 0.9vmax;
// 			border-radius: 0.5vmax;
// 		}
// 	}
// }
@media (max-width: 1199.98px) {
	.header {
		&__inner {
			margin-top: 15px;
			margin-bottom: 10px;
		}
		&__navbar {
			padding: 0 20px;
			border-radius: 8px;
			ul {
				display: none;
			}
		}
		&__site-logo {
			margin: 7px 0;
			img {
				height: 26px;
			}
		}
		&__tel {
			padding: 10px 30px;
			border-radius: 8px;
		}
	}
}
@media (max-width: 767.98px) {
	.header {
		&__navbar {
			flex: 0 1 auto;
			border-radius: 6px;
			padding: 0 10px;
		}

		&__tel {
			flex: 1 1 auto;
			justify-content: center;
			border-radius: 6px;
		}
	}
}
@media (max-width: 374.98px) {
	.header {
		&__tel {
			padding: 10px 10px;
			font-size: 15px;
		}
	}
}
